.content {
    padding: 1rem;
    position: relative;
    margin: 10rem;
    text-align: center;
}

body {
    color: white;
}

#map {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 3rem;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
}

th, td {
    padding: 2rem;
    text-align: center;
}

#drawer {
    background-color: blue;
    text-align: center;
    padding: 2rem;
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.hide {
    padding: 1rem;
    align-content: center;
    align-items: center;
    align-self: center;
}