.content {
    width: 50rem;
}

body {
    color: white;
}

#map {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 3rem;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
}

th, td {
    padding: 2rem;
    text-align: center;
}