html{
    scroll-behavior: smooth;
}
.navigationbar {
	text-align: center;
	list-style-type: none;

	padding: 10px;
	overflow: hidden;
	background-color:#222;
    
    position: sticky;
    top: 0;
}

.navigationbar li{
	display:inline;
   
}

.navigationbar a:hover {
	background-color: #111;
}

.navigationbar a{
	margin: 10px;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: large;
	font-weight: bold;
    
    
      
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

#active{
	  text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 3px;
}
ul {
padding: 0px;
}
body {
    background: #333;
    font-family: 'Roboto', sans-serif;
}
.newsBlock{
    border: 1px solid #222;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 30px;
    height: auto;
    background: #222;
    text-align: left;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
details {
   
    background: #222;
    padding: 0.25em 1em;
    margin-bottom: 15px;
    color:#A8A8A8; 
}
    
summary {
    position: relative;
    padding-left: 1em;
    padding: 15px;
    font-weight: 700;
    border-bottom: 3px solid #0DB8DE;
    
}
    
details[open] summary {
    margin-bottom: 0.5em;
}

.footer-box{
	
	float: left;
    width: 100%;
    margin-top: 30px;
    height: auto;
    background: #222;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.description{
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ECF0F5;

}