<html>
    <head>
        <title>Anmeldung</title>
        <link rel = "stylesheet" href = "./login.css" type="text/css"> </link>
        <script type = "text/javascript" src = "./loginClient.js"> </script>
    </head>
    
    <body>
        <div class="navigationbar">
            <ul>
                <li><a href="/index">Startseite</a></li>
                <li><a id="active" href="#">Anmelden</a></li>
                <li><a href="/statistic">Statistik</a></li>
                <li><a href="/coronaChat">Corona-Chat</a></li>
                <li><a href="/vaccination">Impfangebote</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/profile">Profil</a></li>
            </ul>
        </div>
        <!-- Renders error messages, e.g. E-Mail does not exist, Passwort incorrect-->  
        <div class = "errormessage" > 
            <h1>
            <%      if (messages.error) {       %>
            <%=     messages.error              %>
            <%      }                           %>  
            </h1>
        </div>

      
        <div class="login-box">

	        <div class="login-title"> Anmeldung </div>
            <form action="/login" method="POST">
    
   		        <label for="email"class="formlabel">E-Mail</label>
                <input type="text" class="inputfield" id="email" name="email" placeholder="Bitte E-Mail eingeben" required>
    	
                <label for="password" class="formlabel">Passwort</label> 
                <input type="password" class="inputfield" id="password" name="password" placeholder="Bitte Passwort eingeben" required>
        
                <button type="submit" class="loginbutton">Anmelden</button> 
              
           
	        </form>

            <form action="/register" method="GET">
                <button type="submit" class= "loginbutton"> Zur Registrierung </button>
            </form>
          <!--  <input type="button" onclick="location.href='/register'" class="loginbutton">Zur Registrierung</input> -->
          <!--  <button href="/register" class="loginbutton">Zur Registrierung</button> -->
        </div>
    </body>
</html>