<html>
    <head>
        <title>Impfangebote</title>
        <link rel = "stylesheet" href = "./stylesheets/news.css" type="text/css"> </link>
        <script type = "text/javascript" src = "./clientjs/newsClient.js"> </script>
    </head>
    
    <body>
        <div class="navigationbar">
            <ul>
                <li><a href="/index">Startseite</a></li>
                <li><a id="RefToLogin" href="/login">Anmelden</a></li>
                <li><a href="/statistic">Statistik</a></li>
                <li><a href="/coronaChat">Corona-Chat</a></li>
                <li><a href="/vaccination">Impfangebote</a></li>
                <li><a id="active" href="#">News</a></li>
                <li><a href="/profile">Profil</a></li>
            </ul>
        </div>
 


        <div class="footer-box">
            <p class="description" id="loginStatus">Sie sind momentan nicht angemeldet. </p>
        </div>
    </body>
</html>