<html>
    <head>
        <title>Corona-Chat</title>
        <link rel = "stylesheet" href = "./stylesheets/coronaChat.css" type="text/css"> </link>
        
    </head>
    <body>

        <div class="navigationbar">
            <ul>
                <li><a href="/index">Startseite</a></li>
                <li><a href="/login" id="RefToLogin">Anmelden</a></li>
                <li><a href="/statistic">Statistik</a></li>
                <li><a id="active" href="#">Corona-Chat</a></li>
                <li><a href="/vaccination">Impfangebote</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/Profile">Profil</a></li>
            </ul>
        </div>


        <div class="heading-box">

            <h1 class = "heading"> Corona-Chat </h1>
            <p class="description">Hier können Sie in den verschiedenen Themen sich mit anderen Leuten austauschen. 
                <br>Zum versenden von Nachrichten müssen sie eingeloggt sein. Nachrichten werden nach 24h gelöscht. </p>
        </div>

        <div class = "topic-box">
            <div class = "topic-list">
                <ul>
                    <li onClick="setGeneralTopic()"> Allgemein </li>
	                <li onClick="setVaccinateTopic()"> Impfen </li>
                    <li onClick="setQuarantineTopic()"> Quarantäne </li>
                    <li onClick="setTestTopic()"> Testen </li>
                    <li onClick="setExperienceTopic()"> Erfahrungen </li>
                </ul>
            </div>
        </div>

        <div class="chat-box">
            
	            <div class="topic-title"> Sie sind im Allgmeinen-Thread. </div>
                <div class = "topic-description"> Hier können Sie sich mit anderen Teilnehmern über allgmeine Themen unterhalten. 
                </div>
            
 	        <div class = "scrollableChat">
                <!-- Dynamic generated Content starts here-->

	
                <!-- End scrollable Content-->
	        </div>  

            <input type="text" id ="sendingField" class="sendInput send" placeholder="Nachricht eingeben"> </input>
            <button onClick="sendMessage()" class="sendButton send">Senden</button>
    
        </div>
        
        
        <div class = "user-box">
            <div class = "user-list">
             <p class = "user-title"> Aktive User </p>
                <ul class = "userList">

                    <!--     Dynamic Generated Users-->    

                </ul>
            </div>
        </div>
        
        <div class="footer-box">
            <p class="description" id="loginStatus">Sie sind momentan nicht angemeldet. </p>
        </div>
        
    </body>
    <script type = "text/javascript" src = "./clientjs/coronaChatClient.js" defer> </script>
</html>