<html>
    <head>
        <title>Impfangebote</title>
        <link rel = "stylesheet" href = "./stylesheets/news.css" type="text/css"> </link>
       
    </head>
    
    <body>
        <div  class="navigationbar" id="kopf" >
            <ul>
                <li><a href="/index">Startseite</a></li>
                <li><a id="RefToLogin" href="/login">Anmelden</a></li>
                <li><a href="/statistic">Statistik</a></li>
                <li><a href="/coronaChat">Corona-Chat</a></li>
                <li><a href="/vaccination">Impfangebote</a></li>
                <li><a id="active" href="#">News</a></li>
                <li><a href="/profile">Profil</a></li>
            </ul>
        </div>
        
        <section class="newsBlock">
            <details>
                <summary id="US1"> erste überschrift  <br> <p >  Zusammenfassung Punkt 1</p> </summary>
                <p id ="IN1">Inhalt</p>
                <p id="A1">Author</p>
                <p id="U1">Uri</p>
            </details>
            <details>
                <summary id="US2"> erste überschrift  <br> <p id ="BE2">  Zusammenfassung Punkt 1</p> </summary>
                <p id ="IN2">Inhalt</p>
                <p id="A2">Author</p>
                <p id="U2">Uri</p>
            </details>
            <details>
                <summary id="US3"> erste überschrift  <br> <p id ="BE3">  Zusammenfassung Punkt 1</p> </summary>
                <p id ="IN3">Inhalt</p>
                <p id="A3">Author</p>
                <p id="U3">Uri</p>
            </details>
            <details>
                <summary id="US4"> erste überschrift  <br> <p id ="BE4">  Zusammenfassung Punkt 1</p> </summary>
                <p id ="IN4">Inhalt</p>
                <p id="A4">Author</p>
                <p id="U4">Uri</p>
            </details>
            <details>
                <summary id="US5"> erste überschrift  <br> <p id ="BE5">  Zusammenfassung Punkt 1</p> </summary>
                <p id ="IN5">Inhalt</p>
                <p id="A5">Author</p>
                <p id="U5">Uri</p>
            </details>
        </section>
        
    


        <div class="footer-box">
            <p class="description" id="loginStatus">Sie sind momentan nicht angemeldet. </p>
        </div>
        <script type = "text/javascript" src = "./clientjs/newsClient.js"> </script>
    </body>
</html>