
<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href = "./stylesheets/profile.css" type="text/css"> </link>
    
</head>
<body>

    <div class="navigationbar">
      <ul>
        <li><a href="/index">Startseite</a></li>
        <li><a href="/login" id="RefToLogin">Anmelden</a></li>
        <li><a href="/statistic">Statistik</a></li>
        <li><a href="/coronaChat">Corona-Chat</a></li>
        <li><a href="/vaccination">Impfangebote</a></li>
        <li><a href="/news">News</a></li>
        <li><a id = "active" href = "#">Profil</a></li>
      </ul>
    </div>
    
    <div class="register-box">
    
        <div class="profile-title"> Daten </div>
       
        
            <div id = "outputFields">
            
            <label for="nameOutput"class="formlabel">Benutzername</label>
            <input type="text" class="inputfield" id="nameOutput" placeholder="Keine Angabe" disabled>
            
            <label for="emailOutput"class="formlabel">E-Mail</label>
            <input type="text" class="inputfield" id="emailOutput" placeholder="Keine Angabe"disabled>
            
            <label for="vaccineOutput" class="formlabel">Bevorzugte Impfstoffe</label> 
            <input type="text" class="inputfield" id="vaccineOutput" placeholder="Keine Angabe" disabled>
            
            <label for="districtOutput" class="formlabel">Ort</label> 
            <input type="text" class="inputfield" id="districtOutput" placeholder="Keine Angabe" disabled>
            
            <label for="radiusOutput" class="formlabel">Radius</label> 
            <input type="text" class="inputfield" id="radiusOutput" placeholder="Keine Angabe" disabled>
           
            <br>
            </div>
        </div>
            
    </div>
    
    
    <div class="register-box">
    
        <div class="profile-title"> Profil bearbeiten </div>
        
        
            <label for="radius"class="formlabelSlider">Suchradius</label>
            <div class="slidecontainer">
              <input type="range" min="10" max="450" value="50" class="slider" step="20" id="radius" name = "radius">
            <p><span id="slidervalue" ></span></p>
            </div>
           
         
            <label for="vaccine"class="formlabel">Bevorzugter Impfstoff</label>
            <br> </br>
            <label class="checkbox">Biontech/Pfizer
                  <input type="checkbox" id = "biontech">
            </label>
            <br> </br>
            
            <label class="checkbox">Moderna
                  <input type="checkbox" id = "moderna">
            </label>
            <br> </br>
           
            <label class="checkbox">AstraZeneca
                  <input type="checkbox" id = "astra">
            </label>
            <br> </br>
         
            <label class="checkbox">Johnson&amp;Johnson
                  <input type="checkbox" id = "johnson">
            </label>
    
            <br></br>
            
            
             <label for="districtOutput" class="formlabel">Ort</label> 
             <br></br>
            <input type="text" class="inputfield" id="city" placeholder="Bitte Ort eingeben" >

            <label for="plzOutput" class="formlabel">PLZ</label> 
             <br></br>
            <input type="text" class="inputfield" id="plz" placeholder="Bitte PLZ eingeben" >
            
           
            <button onClick="sendProfile()" class="profilebutton">Aktualisieren</button> 
        
        <form action="/index" method="GET">
            <button type="submit" class= "profilebutton"> Abbruch </button>
        </form>
                   
    </div>
    
    <div class="footer-box">
        <p class="description" id="loginStatus">Sie sind momentan nicht angemeldet. </p>
    </div>
   
    </body>
    <script type = "text/javascript" src = "./clientjs/profileClient.js"> </script>
</html>
