<html>
    <head>
        <title>Impfangebote</title>
        <link rel = "stylesheet" href = "./stylesheets/vaccination.css" type="text/css"> </link>
        
    </head>
    
    <body>
        <div class="navigationbar">
            <ul>
                <li><a href="/index">Startseite</a></li>
                <li><a href="/login" id="RefToLogin">Anmelden</a></li>
                <li><a href="/statistic">Statistik</a></li>
                <li><a href="/coronaChat">Corona-Chat</a></li>
                <li><a href="#" id="active" >Impfangebote</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/profile">Profil</a></li>
            </ul>
        </div>
        <div class="infobox">
            <h2 class = "heading"> Impfangebote </h2>
            <p class="description">Wenn Sie eingeloggt sind, werden die Ergebnisse bereits nach Ihren Profilangaben gefiltert. 
                <br>Weitere Filteranfragen sind natürlich möglich. </p>
        </div>
        <div class="buttonbox">
            <button class="button" id="filter" onclick="filtermenu()" type="button">Filter</button> 
            <button class="button"  id="refresh" onclick="refresh()" type="button">Aktualisieren</button>
            <div class="filterOption">
                <div class="label">
                    <label for="Impfstoff"class="impfstofflabel">Impfstoffe</label>
                    <label for="radius"class="formlabel">Suchradius</label>
                    <label for="ort"class="formlabel">Ort</label>
                    
                </div>
                <div class="inputBox">
                    <div class="checkboxBox">
                        <label class="checkbox">Biontech/Pfizer
                            <input class="auswahl" type="checkbox" id = "biontech">
                            <span class ="checkmark"></span>
                        </label>
                        <br> </br>
                        
                        <label class="checkbox">Moderna
                            <input class="auswahl" type="checkbox" id = "moderna">
                            <span class ="checkmark"></span>
                        </label>
                            <br> </br>
                        
                        <label class="checkbox">AstraZeneca
                            <input class="auswahl" type="checkbox" id = "astra">
                            <span class ="checkmark"></span>
                        </label>
                        <br> </br>
                    
                        <label class="checkbox">Johnson&amp;Johnson
                            <input class="auswahl" type="checkbox" id = "johnson">
                            <span class ="checkmark"></span>
                        </label>
                
                        <br></br>    
                    </div>  
                    

                    <div class="slidecontainer">
                        <input type="range" min="10" max="450" value="50" class="slider" step="20" id="radius" name = "radius">
                        <p><span id="slidervalue"></span></p>
                    </div>
                    

                    <div class="ortInput">
                        <input type="text" class="inputfield" id="city" placeholder="Bitte Ort eingeben" >
                    </div>
                    
                    
                    
                    
                </div>
                <div class="buttonfilterBox">
                    <button class= "buttonfilter" id="filterOK" onclick="getfilter" type="button">übernehmen</button> 
                </div>
                
            </div>
        </div>
    
        <table id="tableID" class="tabelle">
            <tr>
                <th id="distance" >Distanz</th>
                <th>Impfzentrum</th>
                <th>Impfstoff</th>
                <th>Adresse</th>
                <th>BookingURL</th>
            </tr>
            
          </table>
 


        <div class="footer-box">
            <p class="description" id="loginStatus">Sie sind momentan nicht angemeldet. </p>
        </div>
        <script type = "text/javascript" src = "./clientjs/vaccinationClient.js"> </script>
    </body>
</html>