<html>
    <head>
        <title>Impfangebote</title>
        <link rel = "stylesheet" href = "./stylesheets/vaccination.css" type="text/css"> </link>
        <script type = "text/javascript" src = "./clientjs/vaccinationClient.js"> </script>
    </head>
    
    <body>
        <div class="navigationbar">
            <ul>
                <li><a href="/index">Startseite</a></li>
                <li><a href="/login" id="RefToLogin">Anmelden</a></li>
                <li><a href="/statistic">Statistik</a></li>
                <li><a href="/coronaChat">Corona-Chat</a></li>
                <li><a href="#" id="active" >Impfangebote</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/profile">Profil</a></li>
            </ul>
        </div>
        <div class="buttonbox">
            <button class="button" id="filter" onclick="filtermenu()" type="button">Filter</button> 
            <button class="button"  id="refresh" onclick="refresh()" type="button">Aktualisieren</button>
            <div class="filterOption">
                <div class="label">
                    <label for="gender"class="formlabel">Impfzentrum</label>
                    <label for="gender"class="formlabel">Impfstoff</label>
                    <label for="gender"class="formlabel">Ort</label>
                </div>
                <div class="input">
                    <select type="text" class="inputfield" id="gender">
                        <option value = "unknown"	>&nbsp;&#160; Keine Angabe </option>
                        <option value = "male"		>&nbsp;&#160; Männlich </option>
                        <option value = "female"	>&nbsp;&#160; Weiblich </option>
                        <option value = "diverse"	>&nbsp;&#160; Divers </option>
                    </select>  
                
                    <select type="text" class="inputfield" id="gender">
                        <option value = "unknown"	>&nbsp;&#160; Keine Angabe </option>
                        <option value = "male"		>&nbsp;&#160; Männlich </option>
                        <option value = "female"	>&nbsp;&#160; Weiblich </option>
                        <option value = "diverse"	>&nbsp;&#160; Divers </option>
                    </select>  
                    <select type="text" class="inputfield" id="gender">
                        <option value = "unknown"	>&nbsp;&#160; Keine Angabe </option>
                        <option value = "male"		>&nbsp;&#160; Männlich </option>
                        <option value = "female"	>&nbsp;&#160; Weiblich </option>
                        <option value = "diverse"	>&nbsp;&#160; Divers </option>
                    </select> 
                </div>
                <div class="buttonfilterBox">
                    <button class= "buttonfilter" id="filterOK" onclick="getfilter" type="button">übernehmen</button> 
                </div>
                
            </div>
        </div>
    
        <table id="tabele" class="tabelle">
            <tr>
              <th>Impfzentrum</th>
              <th>Impfstoff</th>
              <th>Adresse</th>
              <th>BookingURL</th>
            </tr>
            <tr>
              <td>Miljöh</td>
              <td>Kiez</td>
              <td>Bierdampf</td>
             </tr>
             <tr>
               <td>Buletten</td>
               <td>Frikadellen</td>
               <td>Fleischpflanzerl</td>
             </tr>
             <tr>
                <td>Buletten</td>
                <td>Frikadellen</td>
                <td>Fleischpflanzerl</td>
              </tr>
              <tr>
                <td>Buletten</td>
                <td>Frikadellen</td>
                <td>Fleischpflanzerl</td>
              </tr>
          </table>
 


        <div class="footer-box">
            <p class="description" id="loginStatus">Sie sind momentan nicht angemeldet. </p>
        </div>
    </body>
</html>